.header__logout-button {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #A9A9A9;
    margin-bottom: 33px;
    cursor: pointer;
    text-decoration: none;
}

.header__logout-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1280px) {
    .header__logout-button {
        margin-bottom: 46px;
        margin-right: 0;
    }
}