.login__input {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 13px;
    border: 0;
    background-color: #000000;
    border-bottom: 2px solid #CCCCCC;
    outline: none;
    margin: 40px auto 0;
    color: #CCCCCC
}

.login__input::placeholder {
    color: #CCCCCC;
}

@media screen and (min-width: 1280px) {
    .login__input {
        width: 358px;
        margin-top: 50px;
    } 
}