.profile__avatar-section {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile__avatar-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/edit-avatar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
}

.profile__avatar-section:hover::before {
    z-index: 0;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

@media screen and (min-width: 1280px) {
    .profile__avatar-section {
        margin-right: 30px;
    }
}