.header {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 880px;
    }
}